<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin panel</title>
</head>
<style>

</style>


<!--NAVBAR-->
<body class="bg-light h-100">
<div th:replace="fragments/navBar :: navBar"></div>
<div class="container-fluid bg-light" style="padding-top: 20px; height: calc(100vh - 50px)">
    <div class="row h-100">
        <nav class="rounded-top col-md-2 d-none d-md-block bg-white sidebar p-0">
            <div class="sidebar-sticky ">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="/admin">
                            <button type="submit" class="btn btn-primary w-100 text-left">Admin</button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/user">
                            <button type="submit" class="btn btn-white w-100 text-left text-primary">User</button>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!--                                              ADMIN PANEL                               -->
        <main role="main" class="col-md-10 ml-sm-auto col-lg-10" style="padding-right: 28px; padding-left: 28px">
            <h1>Admin panel</h1>

            <ul class="nav nav-tabs pt-2">
                <li class="nav-item">
                    <a class="nav-link active" href="" id=usersTableBtn>Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" id="newUserBtn">New User</a>
                </li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item" style="font-weight: bold; font-size: large; background-color: whitesmoke">
                    All users
                </li>

                <!--                TABLE                 -->
                <li class="list-group-item p-4" id="usersTable">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>


                        <!--                        TABLE BODY                        -->
                        <tbody id="tbody">
                        </tbody>
                    </table>
                </li>


                <!--                NEW USER FORM-->
                <li class="list-group-item p-4" id="newUser">
                    <form class="text-center mx-auto" style="font-weight: bold; max-width: 300px"
                          id="newUserForm">
                        <div class="form-group">
                            <label for="newUsername">Username</label>
                            <input type="text" class="form-control" id="newUsername" placeholder="Username"
                                   name="username">
                        </div>

                        <div class="form-group">
                            <label for="newEmail">Email</label>
                            <input type="text" class="form-control" id="newEmail" placeholder="Email"
                                   name="email">
                        </div>
                        <div class="form-group">
                            <label for="newPassword" id="formPassword">Password</label>
                            <input type="password" class="form-control" id="newPassword" placeholder="Password"
                                   name="password">
                        </div>
                        <div class="form-group">
                            <label for="newRole">Role</label>
                            <select multiple class="custom-select" size="2" id="newRole" name="roles"></select>
                        </div>
                        <button type="submit" class="btn btn-success">Add new user</button>
                    </form>
                </li>
            </ul>

            <div th:replace="fragments/editModal"></div>
            <div th:replace="fragments/deleteModal"></div>
        </main>
    </div>
</div>


<!-- Optional JavaScript -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script>

    const usersURL = "http://localhost:8080/admin/users"

    const principalURL = "http://localhost:8080/admin/principal";
    let principal;


    const rolesURL = "http://localhost:8080/admin/roles"
    let roles;

    let newUserBtn;
    let usersTableBtn;

    const newUserURL = "http://localhost:8080/admin/newUser"

    const userByIdURL = "http://localhost:8080/admin/user/"


    function getRoles(user) {
        return user.roles.map(role => role['name'])
    }


    async function tableData() {
        let response = await fetch(usersURL)
        let users = await response.json()

        $("#tbody").empty()

        for (let user of users) {
            let editButton = `<button type="button" class="btn btn-info editButton" id="${user.id}"> Edit </button>`;
            let deleteButton = `<button type="button" class="btn btn-danger deleteButton" id="${user.id}"> Delete</button>`;
            $('#tbody').append(`<tr>
            <td> ${user.id} </td>
            <td> ${user.username} </td>
            <td> ${user.email} </td>
            <td> ${getRoles(user)} </td>
            <td> ${editButton}</td>
            <td> ${deleteButton}</td></tr>`)
        }



        $('.editButton').on('click', async function (e) {
            e.preventDefault()
            response = await fetch(userByIdURL + this.id)
            let userById = await response.json()

            $('#editId').val(userById.id)
            $('#editUsername').val(userById.username)
            $('#editEmail').val(userById.email)
            $('#editPassword').val("")

            //MAGIC
            userById.roles.forEach(role => {
                $('#editRole option[value=' + role.id + ']').prop('selected', true)
            })
            $('#editForm').on('submit', async function (event) {
                await onEditSubmit(event, userById)
            })
            $('#editModal').modal()

        })

    }
    async function onEditSubmit(event, user) {
        event.preventDefault()
        const form = $(event.target)
        const json = convertFormToJSON(form) // не берет id  с формы
        json.id = user.id
        console.log(json)
        await fetch(userByIdURL + user.id, {
            method: "PUT",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(json)
        })
        $('#editModal').modal("hide")
        await tableData()
    }


    async function main() {
        let response = await fetch(principalURL)
        principal = await response.json()

        response = await fetch(rolesURL)
        roles = await response.json()

        $("document").ready(async function () {
            $('.nav-username').append(principal.username)
            $('.nav-roles').append(getRoles(principal))

            usersTableBtn = $('#usersTableBtn')
            newUserBtn = $('#newUserBtn')

            usersTableBtn.on('click', e => {
                e.preventDefault()
                usersTableOnClick()

            })

            newUserBtn.on('click', e => {
                e.preventDefault()
                newUserOnClick()
            })
            usersTableOnClick()

            roles.forEach(role => {
                $('#editRole').append($("<option></option>").text(role.name).val(role.id))
                $('#deleteRole').append($("<option></option>").text(role.name).val(role.id))
                $('#newRole').append($("<option></option>").text(role.name).val(role.id))
            })


            $('#newUserForm').on('submit', e => onNewUserSubmit(e))
            await tableData()



        })
    }





    async function onNewUserSubmit(event) {
        event.preventDefault()
        const form = $(event.target)
        const json = convertFormToJSON(form)
        await fetch(newUserURL, {
            method: "POST",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(json)
        })
        $('#newUserForm').trigger('reset')
        await tableData()
        usersTableOnClick()
    }


    function newUserOnClick() {
        usersTableBtn.removeClass('active')
        newUserBtn.addClass('active')
        $('#usersTable').hide()
        $('#newUser').show()
    }

    function usersTableOnClick() {
        newUserBtn.removeClass('active')
        usersTableBtn.addClass('active')
        $('#usersTable').show()
        $('#newUser').hide()
    }


    function convertFormToJSON(form) {
        const array = $(form).serializeArray()
        const json = {}
        json.roles = []
        let role = {'id': 0}
        $.each(array, function () {
            if (this.name === "roles") {
                role.id = this.value
                json.roles.push(Object.assign({}, role))
            } else {
                json[this.name] = this.value || ""
            }

        })
        return json;
    }

    main()
</script>


</body>
</html>
